<div class="ff-date-calendar-header">
  <button class="ff-date-calendar-previous" {{action "previousMonth"}}>
    <span class="ff-date-calendar-previous-icon tf-navigate-left"></span>
  </button>
  <button class="ff-date-calendar-next" {{action "nextMonth"}}>
    <span class="ff-date-calendar-next-icon tf-navigate-right"></span>
  </button>

  <div class="ff-date-calendar-current">{{moment-format currentMonth currentMonthFormat}}</div>
</div>

<table class="ff-date-calendar-month">
  <thead>
    <tr>
      {{#each dayNames as |dayOfWeek|}}
        <th class="ff-date-calendar-table-header">{{dayOfWeek}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each weeks as |week|}}
      <tr>
        {{#each week as |day|}}
          {{ff-date-calendar-day
            on-click=(action "selectDate")
            date=day
            selectedDate=date
            selectedMonth=currentMonth
            minDate=minDate
            maxDate=maxDate
          }}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
